<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="max-w-sm mx-auto p-6 bg-white rounded shadow-md">
    <div class="mb-7">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username" ngModel required #usernameInput="ngModel">
      <!-- Add a validation message -->
      <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="text-red-500 text-xs mt-1 absolute">Username is required.</div>
    </div>
    <div class="mb-10">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password" name="password" ngModel required #passwordInput="ngModel">
      <!-- Add a validation message -->
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-red-500 text-xs mt-1 absolute">Password is required.</div>
    </div>
    <div class="grid justify-items-center ">
      <button
  class="bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline {{ myForm.invalid ? 'opacity-50 cursor-not-allowed pointer-events-none' : 'hover:bg-blue-700' }}"
  type="submit"
  [disabled]="myForm.invalid"
>
  Log in
</button>
    </div>
  </form>
  