<div class="container mx-auto flex items-start grid justify-items-center">
  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <h2 class="subpixel-antialiased text-xl text-sky-600 border-b-4 border-indigo-500 mb-5 pb-3">Welcome to Home Page</h2>
    <p>First Name: {{ userData.firstName }}</p>
    <p>Last Name: {{ userData.lastName }}</p>
    <p>Email: {{ userData.email }}</p>
    <p>Password: {{ userData.password | passwordMask }}</p>
    <p>Date of Birth: {{ userData.dateOfBirth | date:'yyyy, dd MMM' }}</p>
    <p>Age: {{ userData.age}}</p>
    <p>Job: {{ userData.job }}</p>
  </div>
  <!-- Display other user data fields as needed -->
</div>
